.failed-card-header {
    display: flex;
    flex-direction: column;
}

.warning {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.warning>h1 {
    margin-top: 30px;
    color: rgb(192, 46, 46);
}

.warning > img {
    width: 100px;
}

.failed-card-header>div:last-child {
    margin: 20px;
    margin-left: 50px;
    font-weight: bold;
}

.desc-pokemon {
    display: flex;
    justify-content: space-around;
}

.images-pokemon {
    display: flex;
}

.button-card >button:first-child {
    background-color: #ff0023d1;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}