.card-container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 30px;
}

.card-container>section {
    width: 25%;
    height: auto;
}

.card-container a {
    text-decoration: none;
}

.container-title {
    border-radius: 5px 5px 0 0;
    color: white;
    background-color: #ef5350;
    font-size: 1em;
    font-weight: bold;
    padding: 2%;
    text-align: center;
    border: 1px solid #b83432;
}

.card-container > section >  h3 {
    text-align: center;
}

.container-body {
    border: 1px gray solid;
    border-radius: 0 0 5px 5px;
    text-align: justify;
    display: flex;
    justify-content: space-evenly;
}