.header-container {
    background-color: #ef5350;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header-logo {
    margin: 5px;
    margin-left: 20px;
}

.header-logo img {
    width: 50%;
    height: 100%;
}

.nav-bar {
    display: flex;
}

.nav-bar>a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 1em;
}